# Build artifacts
build/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/

# IDE
.vscode/
.idea/

# Data files
*.fastq
*.fasta
*.fa
*.fq
*.sam
*.fastq.gz
*.fasta.gz
*.fa.gz
*.fq.gz
data/
*.bam

# OS
.DS_Store
Thumbs.db
